*{
    padding: 0;
    margin: 0;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.first{
    height: 120px;
    width: 180px;
    background-color: red;
    margin:1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}